# node package download 
node_modules
**/node_modules

.vscode

# macos
.DS_Store

# production
dist
**/dist

# ssr production
dist-ssr
**/dist-ssr

# local env
*.local


# pnpm package npmrc
pnpm-lock.yaml
.pnpm-debug.log


# npm

package-lock.json

# config
**/moyu.config.js

# env
**/.development.env
**/.production.env
**/.env.development
**/.env.production

# eslint

.eslintignore