.project {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 210px);

  &Body {
    flex: 1;
    width: 100%;
    background: #FFF;
  }

  &Menu {
    border-right: none;
    margin: 0 -24px;
  }
}